<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/bluenex/" target="_blank">@bluenex</a></p>
<!-- <p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/ellekasai" target="_blank">linkedin.com/in/ellekasai</a></p> -->
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="https://bluenex.github.io" target="_blank">bluenex.github.io</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:tulakan.r@gmail.com" target="_blank">tulakan.r@gmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:66832982626" target="_blank">(+66) 083-298-2626</a></p>
